#btnAssMNewAsset {
    -fx-graphic: url("../images/add.png");
    -fx-background-size: 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 100%;
    -fx-background-color: #4F5D75;
}

#btnAssMNewAsset:hover {
    -fx-background-color: #475369;
}